**MOVIES RECOMMENDATION ML MODEL**

---

Objective: Take user's desired Movie's name as input and recommend similar movies' names

Data Souce: https://github.com/YBIFoundation/Dataset

Importing Libraries and Loading Data

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [52]:
#ml stores the movies dataset
ml = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Movies%20Recommendation.csv')

Data Exploration

In [ ]:
ml.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [ ]:
ml.shape

(4760, 21)

In [ ]:
ml.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

Data Preprocessing

In [ ]:
mlf = ml[['Movie_Genre', 'Movie_Director', 'Movie_Cast', 'Movie_Language', 'Movie_Tagline', 'Movie_Production_House']].fillna('')

In [ ]:
mlf.shape

(4760, 6)

In [ ]:
mlf

,Movie_Genre,Movie_Director,Movie_Cast,Movie_Language,Movie_Tagline,Movie_Production_House
0,Crime Comedy,Allison Anders,Tim Roth Antonio Banderas Jennifer Beals Madon...,en,Twelve outrageous guests. Four scandalous requ...,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":..."
1,Adventure Action Science Fiction,George Lucas,Mark Hamill Harrison Ford Carrie Fisher Peter ...,en,"A long time ago in a galaxy far, far away...","[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe..."
2,Animation Family,Andrew Stanton,Albert Brooks Ellen DeGeneres Alexander Gould ...,en,"There are 3.7 trillion fish in the ocean, they...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]"
3,Comedy Drama Romance,Robert Zemeckis,Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,en,"The world will never be the same, once you've ...","[{""name"": ""Paramount Pictures"", ""id"": 4}]"
4,Drama,Sam Mendes,Kevin Spacey Annette Bening Thora Birch Wes Be...,en,Look closer.,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""..."
...,...,...,...,...,...,...
4755,Horror,Pece Dingo,Lisa Hart Carroll Michael Des Barres Paul Drak...,en,The hot spot where Satan's waitin'.,[]
4756,Comedy Family Drama,Frank Lotito,Roni Akurati Brighton Sharbino Jason Lee Anjul...,en,It’s better to stand out than to fit in.,[]
4757,Thriller Drama,Jaco Booyens,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,en,She never knew it could happen to her...,"[{""name"": ""After Eden Pictures"", ""id"": 85248}]"
4758,Family,,,en,,"[{""name"": ""New Kingdom Pictures"", ""id"": 41671}]"
4759,Documentary,Simon Napier-Bell,Tony Oppedisano,en,,"[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]"

Text Data Preparation

In [ ]:
X = mlf['Movie_Genre'] + ' ' + mlf['Movie_Director'] + ' ' + mlf['Movie_Cast'] + ' ' + mlf['Movie_Language'] + ' ' + mlf['Movie_Tagline'] + ' ' + mlf['Movie_Production_House']

In [ ]:
X

0       Crime Comedy Allison Anders Tim Roth Antonio B...
1       Adventure Action Science Fiction George Lucas ...
2       Animation Family Andrew Stanton Albert Brooks ...
3       Comedy Drama Romance Robert Zemeckis Tom Hanks...
4       Drama Sam Mendes Kevin Spacey Annette Bening T...
                              ...
4755    Horror Pece Dingo Lisa Hart Carroll Michael De...
4756    Comedy Family Drama Frank Lotito Roni Akurati ...
4757    Thriller Drama Jaco Booyens Nicole Smolen Kim ...
4758    Family   en  [{"name": "New Kingdom Pictures",...
4759    Documentary Simon Napier-Bell Tony Oppedisano ...
Length: 4760, dtype: object

In [ ]:
X.shape

(4760,)

Text Vectorization

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
t = TfidfVectorizer()

In [ ]:
X = t.fit_transform(X)

In [ ]:
X.shape

(4760, 22990)

In [ ]:
print(X)

  (0, 3804)	0.17702427223509878
  (0, 5793)	0.15418054177275337
  (0, 6281)	0.17702427223509878
  (0, 809)	0.11964766316006827
  (0, 12672)	0.05213616143658158
  (0, 10657)	0.05264606945390787
  (0, 15775)	0.11721096537408467
  (0, 16218)	0.05213616143658158
  (0, 14422)	0.10436023417731653
  (0, 16677)	0.07477548694529272
  (0, 10232)	0.17213861134373365
  (0, 22746)	0.14614026020335827
  (0, 16369)	0.09030933387933993
  (0, 22457)	0.191334913430439
  (0, 10818)	0.09324425306561811
  (0, 22420)	0.11585802518567909
  (0, 13218)	0.1630160778917485
  (0, 20750)	0.10261985598386159
  (0, 16769)	0.1023904278774379
  (0, 9015)	0.12964786238384973
  (0, 10707)	0.12540294001046337
  (0, 12370)	0.21483331756213148
  (0, 12764)	0.16715108676994542
  (0, 6570)	0.21364353095691915
  (0, 14594)	0.17213861134373365
  :	:
  (4757, 16366)	0.1410952121381713
  (4757, 9617)	0.05508983228550457
  (4757, 12672)	0.0340921740936378
  (4757, 16218)	0.0340921740936378
  (4757, 10035)	0.033877563918515756
  (4758, 3040)	0.6807619191804746
  (4758, 13730)	0.5955325403160507
  (4758, 17358)	0.14071067070629026
  (4758, 10395)	0.242246760701565
  (4758, 12672)	0.083064329538317
  (4758, 16218)	0.083064329538317
  (4758, 16369)	0.28776511592109416
  (4758, 10035)	0.08254143973200394
  (4759, 3850)	0.43340527274966073
  (4759, 10325)	0.43340527274966073
  (4759, 16796)	0.43340527274966073
  (4759, 16230)	0.39917035660054884
  (4759, 9477)	0.23503393143208146
  (4759, 19593)	0.25309727715369984
  (4759, 20991)	0.2512095106695892
  (4759, 6564)	0.2706220978146344
  (4759, 10081)	0.11465722487269761
  (4759, 12672)	0.05288268539265634
  (4759, 16218)	0.05288268539265634
  (4759, 10035)	0.052549788982416544

Calculating Cosine Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
SS = cosine_similarity(X) #SS is Similarity Score

In [ ]:
SS

array([[1.        , 0.02614117, 0.0520542 , ..., 0.00443243, 0.03678734,
        0.00687545],
       [0.02614117, 1.        , 0.01764861, ..., 0.0057712 , 0.01406131,
        0.0089521 ],
       [0.0520542 , 0.01764861, 1.        , ..., 0.00346898, 0.03251497,
        0.00538098],
       ...,
       [0.00443243, 0.0057712 , 0.00346898, ..., 1.        , 0.01658632,
        0.00538603],
       [0.03678734, 0.01406131, 0.03251497, ..., 0.01658632, 1.        ,
        0.01312286],
       [0.00687545, 0.0089521 , 0.00538098, ..., 0.00538603, 0.01312286,
        1.        ]])

In [ ]:
SS.shape

(4760, 4760)

User Input

In [66]:
Desired_Movie = input(' Type the Movie you want to watch: ')

 Type the Movie you want to watch: The Silence of the Lambs

In [67]:
Movies_List = ml['Movie_Title'].tolist()

Finding Close Matches

In [68]:
import difflib
MR = difflib.get_close_matches(Desired_Movie, Movies_List)
print(MR)

['The Silence of the Lambs', 'The Rise of the Krays', 'The Remains of the Day']

In [69]:
Close_Match = MR[0]
print(Close_Match)

The Silence of the Lambs

Retrieving Movie ID

In [70]:
Id_of_Close_Match = ml[ml.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Id_of_Close_Match)

125

Calculating Recommendation Scores

In [77]:
RS = list(enumerate(SS[Id_of_Close_Match])) #RS is Recommendation Score
Selected_RS = RS[:50]
print(Selected_RS)

[(0, 0.013938025824832445), (1, 0.022551845896656163), (2, 0.009534028149623775), (3, 0.009461485532832789), (4, 0.019313586576356366), (5, 0.09348272767824296), (6, 0.04220462931420261), (7, 0.012534974021987515), (8, 0.08023172927260525), (9, 0.032477241447401266), (10, 0.030304229645606594), (11, 0.054852031859686456), (12, 0.04765697048035196), (13, 0.021731432658705578), (14, 0.017534753495771334), (15, 0.04388833024280499), (16, 0.01738383880976645), (17, 0.096581628947667), (18, 0.02907441670770141), (19, 0.022276035096727757), (20, 0.05970745945088909), (21, 0.05523308315052551), (22, 0.010516331339611289), (23, 0.043672322844140146), (24, 0.06994050385397857), (25, 0.04782608099436777), (26, 0.024941035627553815), (27, 0.050549730985307496), (28, 0.026923543026086422), (29, 0.009476769459859953), (30, 0.04506903078242611), (31, 0.03975431886719863), (32, 0.033704257131301874), (33, 0.025022627518956102), (34, 0.05428123051825106), (35, 0.022684680864717015), (36, 0.04541734562148819), (37, 0.023284457971267516), (38, 0.03272434200059931), (39, 0.04117196942912631), (40, 0.05265999392878691), (41, 0.08508590540021642), (42, 0.059977735197608094), (43, 0.04213100350840761), (44, 0.020224432276504906), (45, 0.04465764053044404), (46, 0.074040883537567), (47, 0.029725063150795667), (48, 0.022469721298542685), (49, 0.017868081367182875)]

In [78]:
len(RS)

4760

Sorting Recommendations

In [79]:
SSM = sorted(RS, key = lambda x:x[1], reverse=True) #Sorting Similar Movies
Selected_SSM = SSM[:50]
print(Selected_SSM)

[(125, 1.0000000000000002), (375, 0.3591676577416579), (2136, 0.25631945861013355), (3522, 0.15567938479352017), (512, 0.14144545211593854), (341, 0.13099107333686824), (3970, 0.1251785059830701), (731, 0.12322562894246605), (1119, 0.11773447379817248), (636, 0.11722872317268679), (2764, 0.10924120169890641), (1289, 0.10872833867007921), (738, 0.10760383546469898), (1566, 0.10657146816173521), (3807, 0.10654626002106325), (1058, 0.10570950529096367), (1565, 0.10300399005102785), (3745, 0.10293153284811102), (2521, 0.10216183287297718), (436, 0.10206454098344146), (4000, 0.1016995196311446), (898, 0.10038673440829093), (521, 0.10035192428613789), (531, 0.10021083197224762), (873, 0.09684170890366599), (17, 0.096581628947667), (1713, 0.0965455117359294), (446, 0.09578949848984752), (1261, 0.09575812905523286), (1890, 0.09559596347699935), (2580, 0.09414707702648957), (1129, 0.09409160776030843), (868, 0.09391801292195842), (451, 0.09387168482706025), (4639, 0.09368980962495137), (1498, 0.09355804972938433), (5, 0.09348272767824296), (486, 0.09341118584671962), (878, 0.09317099624046593), (3483, 0.09298614334617135), (135, 0.09265274694598429), (1066, 0.09213905782233599), (1207, 0.09196710198335993), (2780, 0.09190201779500574), (872, 0.09183198420178293), (4158, 0.091820551538023), (1999, 0.09017067246617362), (2015, 0.09013566588985181), (4242, 0.08944552284445448), (830, 0.08934719251047943)]

Displaying Top Recommendations

In [80]:

print('Top 40 Suggestions based on desired movie:-')
i = 1

for movie in SSM:
  index = movie[0]
  Title = ml[ml.index==index]['Movie_Title'].values[0]
  if(i<41):
    print(i,'. ',Title)
    i+=1

Top 40 Suggestions based on desired movie:-
1 .  Underworld
2 .  Underworld: Evolution
3 .  Underworld: Rise of the Lycans
4 .  Underworld: Awakening
5 .  Live Free or Die Hard
6 .  From Hell
7 .  I, Frankenstein
8 .  The Aviator
9 .  The Exorcism of Emily Rose
10 .  The Constant Gardener
11 .  Cheri
12 .  Zoolander
13 .  The Specialist
14 .  A Sound of Thunder
15 .  Contraband
16 .  Suspect Zero
17 .  Blood and Chocolate
18 .  The Vow
19 .  Astro Boy
20 .  Arlington Road
21 .  The Counselor
22 .  Severance
23 .  School of Rock
24 .  I Heart Huckabees
25 .  Runaway Bride
26 .  Pirates of the Caribbean: Dead Man's Chest
27 .  Ballistic: Ecks vs. Sever
28 .  The Queen
29 .  Click
30 .  Kinsey
31 .  Brokedown Palace
32 .  The League of Extraordinary Gentlemen
33 .  The Sum of All Fears
34 .  Ghost Rider
35 .  The Boy
36 .  The Skeleton Key
37 .  Dancer in the Dark
38 .  Bowling for Columbine
39 .  Dark Blue
40 .  The Lincoln Lawyer

Explanation

* The ML model works as a movie recommendation system based on text data and similarity measures.
* It starts by importing the required libraries and loading a movie dataset from a CSV file.
* The dataset is explored to understand its structure and characteristics.Specific columns of interest are selected, and missing values are filled with empty strings.
*Multiple text columns, such as movie genre, director, cast, language, tagline, and production house, are concatenated into a single text column. This step prepares the textual information for vectorization.
* The TF-IDF (Term Frequency-Inverse Document Frequency) vectorization technique is applied to convert the text data into numerical vectors.
* Cosine similarity is calculated between pairs of movies using their TF-IDF vectors.
* The result is a similarity matrix where each cell represents the cosine similarity score between two movies.
* The user is prompted to input the title of the movie they want to watch.
* The program finds close matches to the user's input movie title within the dataset using the 'difflib' library.
* The closest matching movie is selected as a reference.
* Recommendation scores are calculated for each movie in the dataset based on its similarity to the user's selected reference movie.
* The recommendation scores are sorted in descending order to identify the most similar movies.
* This creates a ranked list of movies based on their similarity to the user's input.
* The top 40 movie suggestions, sorted by similarity score, are displayed to the user.